In [1]:
#Abrimos la carpeta donde se encuentran las bases de datos

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
!pip install pyreadstat
import pyreadstat as py

Requirement already satisfied: pyreadstat in /opt/anaconda3/lib/python3.12/site-packages (1.2.8)
Requirement already satisfied: pandas>=1.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from pyreadstat) (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.2.0->pyreadstat) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.2.0->pyreadstat) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.2.0->pyreadstat) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.2.0->pyreadstat) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)

In [3]:
import os
print(os.getcwd())  # Muestra la ruta actual de trabajo
print(os.listdir())  # Lista todos los archivos en el directorio actual

/Users/arielamirmelstein/Desktop/Ciencia de datos/Tutorial8
['Tutorial8.ipynb', 'market.csv', 'Untitled.ipynb', '.ipynb_checkpoints']

In [5]:
os.chdir("/Users/arielamirmelstein/Documents/GitHub/CC408--T2-9-/TP3")
print(os.listdir())  # Verifica que el archivo esté en esta carpeta

['.DS_Store', 'Untitled.ipynb', 'Individual_t104 copy.dta', 'usu_individual_T124 copy.xlsx', '.ipynb_checkpoints', 'EPH_disenoreg_T1_2004.pdf', 'EPH_registro_1T2024.pdf']

In [15]:
import pandas as pd

# Cargo archivo DTA
df_2004 = pd.read_stata("Individual_t104 copy.dta")
print(df_2004.head())
#aglomerados de Ciudad Autónoma de Buenos Aires (32) y Gran Buenos Aires (33)
df_2004.drop(df_2004[df_2004["aglomerado"].isin([32, 33])].index, inplace=True)


# Cambiamos los nombres de las columnas a minúsculas
df_2004.columns = df_2004.columns.str.lower()

df_2004

     CODUSU  nro_hogar componente h15    ano4       trimestre  \
0  125098          1.0        1.0  Sí  2004.0  1er. Trimestre
1  125397          1.0        1.0  Sí  2004.0  1er. Trimestre
2  125515          1.0        1.0  Sí  2004.0  1er. Trimestre
3  125558          1.0        1.0  Sí  2004.0  1er. Trimestre
4  125558          1.0        2.0  Sí  2004.0  1er. Trimestre

              region mas_500              aglomerado  pondera  ... deccfr  \
0  Gran Buenos Aires       S  Ciudad de Buenos Aires   1299.0  ...     07
1  Gran Buenos Aires       S  Ciudad de Buenos Aires   2018.0  ...     00
2  Gran Buenos Aires       S  Ciudad de Buenos Aires   1486.0  ...     07
3  Gran Buenos Aires       S  Ciudad de Buenos Aires   1674.0  ...     08
4  Gran Buenos Aires       S  Ciudad de Buenos Aires   1674.0  ...     08

  ideccfr rdeccfr gdeccfr pdeccfr adeccfr pj1_1 pj2_1 pj3_1 idimpp
0              06      06              04   0.0   0.0   0.0  00000
1              00      00              00   0.0   0.0   0.0  00000
2              07      07              05   0.0   0.0   0.0  00020
3              08      08              06   0.0   0.0   0.0  00000
4              08      08              06   0.0   0.0   0.0  00000

[5 rows x 176 columns]

,codusu,nro_hogar,componente,h15,ano4,trimestre,region,mas_500,aglomerado,pondera,...,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr,pj1_1,pj2_1,pj3_1,idimpp
0,125098,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1299.0,...,07,,06,06,,04,0.0,0.0,0.0,00000
1,125397,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,2018.0,...,00,,00,00,,00,0.0,0.0,0.0,00000
2,125515,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1486.0,...,07,,07,07,,05,0.0,0.0,0.0,00020
3,125558,1.0,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,...,08,,08,08,,06,0.0,0.0,0.0,00000
4,125558,1.0,2.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,...,08,,08,08,,06,0.0,0.0,0.0,00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45284,285733,1.0,1.0,Sí,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000
45285,285733,1.0,2.0,Sí,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000
45286,285733,1.0,3.0,Sí,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000
45287,285733,1.0,4.0,0.0,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000
45288,285733,1.0,5.0,0.0,2004.0,1er. Trimestre,Patagónica,N,Ushuaia - Río Grande,123.0,...,09,09,08,,09,07,0.0,0.0,0.0,00000

In [26]:
# Cargo el archivo xlsx
df_2024 = pd.read_excel("usu_individual_T124 copy.xlsx") 

print(df_2024.head())
# aglomerados de Ciudad Autónoma de Buenos Aires (32) y Gran Buenos Aires (33)
df_2024.drop(df_2024[df_2024["AGLOMERADO"].isin([32, 33])].index, inplace=True)


# Cambiamos los nombres de las columnas a minúsculas
df_2024.columns = df_2024.columns.str.lower()

df_2024

                          CODUSU  ANO4  TRIMESTRE  NRO_HOGAR  COMPONENTE  H15  \
0  TQRMNOPUTHLMKQCDEGGFB00852588  2024          1          1           3    1
1  TQRMNOPUTHLMKQCDEGGFB00852588  2024          1          1           4    1
2  TQRMNOPUTHLMKQCDEGGFB00852588  2024          1          1           5    0
3  TQRMNOPPWHLLKRCDEGGFB00852574  2024          1          1           1    1
4  TQRMNOPPWHLLKRCDEGGFB00852574  2024          1          1           2    1

   REGION MAS_500  AGLOMERADO  PONDERA  ...  PDECIFR  ADECIFR      IPCF  \
0      42       S          10      439  ...      NaN       12       0.0
1      42       S          10      439  ...      NaN       12       0.0
2      42       S          10      439  ...      NaN       12       0.0
3      42       S          10      675  ...      NaN        8  212500.0
4      42       S          10      675  ...      NaN        8  212500.0

   DECCFR  IDECCFR  RDECCFR  GDECCFR  PDECCFR  ADECCFR  PONDIH
0      12     12.0       12     12.0      NaN       12       0
1      12     12.0       12     12.0      NaN       12       0
2      12     12.0       12     12.0      NaN       12       0
3       6      6.0        6      6.0      NaN        6    1610
4       6      6.0        6      6.0      NaN        6    1610

[5 rows x 177 columns]

,codusu,ano4,trimestre,nro_hogar,componente,h15,region,mas_500,aglomerado,pondera,...,pdecifr,adecifr,ipcf,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr,pondih
0,TQRMNOPUTHLMKQCDEGGFB00852588,2024,1,1,3,1,42,S,10,439,...,NaN,12,0.00,12,12.0,12,12.0,NaN,12,0
1,TQRMNOPUTHLMKQCDEGGFB00852588,2024,1,1,4,1,42,S,10,439,...,NaN,12,0.00,12,12.0,12,12.0,NaN,12,0
2,TQRMNOPUTHLMKQCDEGGFB00852588,2024,1,1,5,0,42,S,10,439,...,NaN,12,0.00,12,12.0,12,12.0,NaN,12,0
3,TQRMNOPPWHLLKRCDEGGFB00852574,2024,1,1,1,1,42,S,10,675,...,NaN,8,212500.00,6,6.0,6,6.0,NaN,6,1610
4,TQRMNOPPWHLLKRCDEGGFB00852574,2024,1,1,2,1,42,S,10,675,...,NaN,8,212500.00,6,6.0,6,6.0,NaN,6,1610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46028,TQRMNOQWXHJMKOCDEOHCH00803080,2024,1,1,1,1,44,N,91,128,...,9.0,9,300000.00,7,8.0,6,NaN,8.0,7,126
46029,TQRMNOQWXHJMKOCDEOHCH00803080,2024,1,1,2,1,44,N,91,128,...,9.0,9,300000.00,7,8.0,6,NaN,8.0,7,126
46030,TQRMNOQWXHJMKOCDEOHCH00803080,2024,1,1,3,1,44,N,91,128,...,9.0,9,300000.00,7,8.0,6,NaN,8.0,7,126
46031,TQRMNOQXQHJMKOCDEOHCH00794205,2024,1,1,1,1,44,N,91,131,...,7.0,6,183333.33,5,5.0,4,NaN,6.0,4,135
46032,TQRMNOQXQHJMKOCDEOHCH00794205,2024,1,1,2,1,44,N,91,131,...,7.0,6,183333.33,5,5.0,4,NaN,6.0,4,135

In [28]:
# Comparar las columnas de ambos
diferentes_1 = set(df_2004.columns) - set(df_2024.columns)  # Columnas que están en df_2004 pero no en df_2024
diferentes_2 = set(df_2024.columns) - set(df_2004.columns)  # Columnas que están en df_2024 pero no en df_2004

print(f"Columnas en df_2004 pero no en df_2024: {diferentes_1}")
print(f"Columnas en df_2024 pero no en df_2004: {diferentes_2}")

Columnas en df_2004 pero no en df_2024: {'pj1_1', 'pj2_1', 'pj3_1', 'idimpp'}
Columnas en df_2024 pero no en df_2004: {'imputa', 'pondih', 'pondiio', 'pondii', 'ch05'}

In [44]:
#aglomerados_deseados = ['Ciudad Autónoma de Buenos Aires', 'Gran Buenos Aires']
ind_2004 = df_2004[df_2004['aglomerado'].isin([32, 33])]
ind_2024 = df_2024[df_2024['aglomerado'].isin([32, 33])]


# Los unimos ambos trimestres en una sola base de datos
df_conjunto = pd.concat([df_2004, df_2024], ignore_index=True)
# Y eliminamos las columnas que se encuentran solo en la base de datos del 2004 y viceversa.
df_conjunto = df_conjunto.drop(columns=["ch05","imputa","pondiio","pondii","pondih", 'pj1_1', 'pj2_1', 'pj3_1', 'idimpp'])

df_conjunto.tail()

,codusu,nro_hogar,componente,h15,ano4,trimestre,region,mas_500,aglomerado,pondera,...,gdecifr,pdecifr,adecifr,ipcf,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr
84283,TQRMNOQWXHJMKOCDEOHCH00803080,1.0,1,1,2024.0,1,44,N,91,128.0,...,NaN,9.0,9,300000.00,7,8.0,6,NaN,8.0,7
84284,TQRMNOQWXHJMKOCDEOHCH00803080,1.0,2,1,2024.0,1,44,N,91,128.0,...,NaN,9.0,9,300000.00,7,8.0,6,NaN,8.0,7
84285,TQRMNOQWXHJMKOCDEOHCH00803080,1.0,3,1,2024.0,1,44,N,91,128.0,...,NaN,9.0,9,300000.00,7,8.0,6,NaN,8.0,7
84286,TQRMNOQXQHJMKOCDEOHCH00794205,1.0,1,1,2024.0,1,44,N,91,131.0,...,NaN,7.0,6,183333.33,5,5.0,4,NaN,6.0,4
84287,TQRMNOQXQHJMKOCDEOHCH00794205,1.0,2,1,2024.0,1,44,N,91,131.0,...,NaN,7.0,6,183333.33,5,5.0,4,NaN,6.0,4